* {
  box-sizing: border-box;
  font-family: "Montserrat";
  font-style: normal;
}
img::selection {
  background: transparent;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  flex: 0 0 auto;
}
main {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}
.whatsup {
  &-button {
    display: block;
    width: fit-content;
    padding: 15px 30px;
    border: 2px solid #2dd067;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2dd067;
    text-decoration: none;
    & svg {
      margin-left: 10px;
    }
    &:hover {
      cursor: pointer;
      border-color: #12b54c;
      color: #12b54c;
      & svg path {
        fill: #12b54c;
      }
    }
    @include tablet {
      padding: 14px 10px;
      font-weight: 600;
      font-size: 14px;
      line-height: 23px;
    }
    @include mobile {
      padding: 11px 10px;
    }
  }
  & p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $text;
    @include tablet {
      font-size: 14px;
      line-height: 18px;
    }
    @include mobile {
      margin-top: 10px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
.button_orange {
  display: block;
  width: fit-content;
  border: none;
  width: 180px;
  padding: 18px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #ed6b40;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background: #fc7a4f;
  }
  &:active {
    background: #de5c31;
  }
  @include tablet {
    padding: 13px 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
  }
  &_no-desktop {
    display: none;
    margin: 40px auto 0;
    @include tablet {
      display: block;
    }
    @include mobile {
      margin-top: 30px;
    }
  }
  &-card {
    padding: 10px 0;
    width: 100%;
    @include tablet {
      font-size: 14px;
      line-height: 17px;
      padding: 10px 0px;
    }
    @include mobile {
      font-size: 10px;
      line-height: 12px;
      padding: 6px 0px;
    }
  }
}
.nuv {
  & p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $chapter;
    & a {
      color: $chapter;
      text-decoration: none;
      &:hover {
        color: #ed6b40;
      }
    }
    @include mobile {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
.block {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h2,
    h1 {
      position: relative;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #000000;
      padding-left: 98px;
      &::before {
        content: "";
        width: 82px;
        height: 3px;
        background: #ed6b40;
        position: absolute;
        top: calc(39px / 2);
        left: 0;
      }
    }

    & a {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
    }
    @include tablet {
      justify-content: flex-start;
      & a {
        display: none;
      }
      & h1 {
        font-size: 24px;
        line-height: 29px;
        padding-left: 125px;
        &::before {
          top: calc(29px / 2);
          width: 105px;
        }
      }
      & h2 {
        font-size: 24px;
        line-height: 29px;
        padding-left: 125px;
        &::before {
          top: calc(29px / 2);
          width: 105px;
        }
      }
      &.without-line {
        & h2,
        h1 {
          padding-left: 0;
          &::before {
            display: none;
          }
        }
      }
    }
    @include mobile {
      & h1 {
        font-size: 16px;
        line-height: 20px;
        padding-left: 50px;
        &::before {
          width: 40px;
          position: absolute;
          top: calc(20px / 2);
        }
      }
      & h2 {
        font-size: 14px;
        line-height: 20px;
        padding-left: 50px;
        width: 100%;
        &::before {
          width: 40px;
          position: absolute;
          top: calc(20px / 2);
        }
      }
    }
  }
  &__info {
    & h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      @include tablet {
        font-size: 20px;
        line-height: 24px;
      }
      @include mobile {
        font-size: 14px;
        line-height: 17px;
      }
    }
    & p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text;
      @include tablet {
        font-size: 14px;
        line-height: 23px;
      }
      @include mobile {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
.form {
  & .input-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }
  & textarea {
    height: 100%;
  }
  & span.error {
    position: absolute;
    width: max-content;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #ff2e2e;
    bottom: 100%;
    right: 0;
    @include mobile {
      font-size: 8px;
      line-height: 10px;
    }
  }
  & h2 {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    @include tablet {
      font-size: 26px;
      line-height: 32px;
    }
    @include mobile {
      font-size: 16px;
      line-height: 20px;
    }
  }
  & input,
  textarea {
    width: 100%;
    border: 1px solid #9a9a9a;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    resize: none;
    box-sizing: border-box;
    &::placeholder {
      color: $grey1;
    }
    padding: 15px 16px;
    // &:invalid:not(:focus) {
    //   border: 1px solid #ff2e2e;
    // }
    @include tablet {
      padding: 13px 12px;
      font-size: 12px;
      line-height: 15px;
    }
    @include mobile {
      padding: 13px 10px;
    }
    &.error:not(:focus) {
      border: 1px solid #ff2e2e;
    }
  }
  & .checkbox {
    width: fit-content;
    &:hover {
      cursor: pointer;
    }
    & a {
      display: inline;
      color: #000000;
    }
    & p {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      @include tablet {
        font-size: 8px;
        line-height: 10px;
      }
    }
    position: relative;
    display: flex;
    align-items: center;
    &__real {
      display: none;
      &:checked ~ .checkbox__custom::before {
        display: block;
      }
    }
    &__custom {
      position: relative;
      min-width: 26px;
      height: 26px;
      border: 1px solid #ed6b40;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 6px;
      &::before {
        content: url(./../img/svg/okay.svg);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 53%;
        display: none;
      }
      @include tablet {
        min-width: 18px;
        height: 18px;
        margin-right: 10px;
      }
    }
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;

  @include tablet {
    width: 95%;
  }
  @include mobile {
    width: 90%;
  }
}
.link {
  text-align: center;
  text-decoration: underline;
  color: #ed6b40;
  &:hover {
    color: #fc7a4f;
  }
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include mobile {
    align-items: flex-start;
  }
  & p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $grey1;
  }
  &__block {
    margin-top: 16px;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    width: fit-content;
    height: 40px;
    @include tablet {
      height: 30px;
    }
    @include mobile {
      height: 20px;
      margin-top: 0;
    }
    & p {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #000000;
      @include tablet {
        font-size: 16px;
        line-height: 20px;
      }
      @include mobile {
        font-size: 14px;
        line-height: 17px;
      }
    }
    & button {
      border: none;
      background: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13px 21px;
      &:hover {
        cursor: pointer;
        & svg path {
          fill: #ed6b40;
        }
      }
      @include tablet {
        padding: 5px 15px;
      }
      @include mobile {
        padding: 3px 10px;
      }
    }
  }
}
