.catalog {
  margin-top: 43px;
  @include tablet {
    margin-top: 20px;
  }
  &__list {
    max-width: 1000px;
    margin: 0 auto;
    @include tablet {
      width: 88.8%;
    }
    @include mobile {
      width: 100%;
    }
  }
  &__item {
    padding: 24px 0px;
    border-bottom: 1px solid #000000;
    @include tablet {
      padding: 20px 0px;
    }
    @include mobile {
      padding: 16px 0px;
    }
    & .button_orange {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 14px 13px 15px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      min-width: 200px;
      & svg {
        margin-left: 6px;
      }
      &.white {
        background-color: white;
        border: 1px solid #ed6b40;
        color: #ed6b40;
        & svg path {
          fill: #ed6b40;
        }
      }
      @include tablet {
        padding: 11px 14px;
        font-size: 12px;
        line-height: 15px;
        min-width: 0;
        width: 189px;
        & svg {
          margin-left: 10px;
        }
      }
      @include mobile {
        padding: 6px 7px;
        width: 100px;
        font-size: 8px;
        line-height: 10px;
        & svg {
          display: none;
        }
      }
    }
    & .counter {
      margin-top: 11px;
      @include mobile {
        margin-top: 4px;
      }
    }
  }
}
