.about-us {
  & ~ .popup {
    display: none;
    & .swiper {
      padding: 75px 0;
    }
    &.show {
      display: block;
    }
  }
  margin-top: 43px;
  overflow: visible;
  @include tablet {
    margin-top: 20px;
  }
  & h1 {
    margin-top: 50px;
    @include tablet {
      margin-top: 30px;
    }
    @include mobile {
      margin-top: 20px;
    }
  }
  & h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @include tablet {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: lowercase;
      letter-spacing: normal;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    @include mobile {
      font-size: 14px;
      line-height: 17px;
    }
  }
  &__preview {
    margin-top: 53px;
    max-width: 765px;
    @include tablet {
      margin-top: 43px;
    }
    @include mobile {
      margin-top: 30px;
    }
    & p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $text;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      @include tablet {
        font-size: 14px;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
  &__benefits {
    margin-top: 50px;
    @include tablet {
      margin-top: 30px;
    }
    & .benefits {
      &__list1 {
        margin-top: 30px;
        max-width: 850px;
        display: grid;
        grid-row-gap: 20px;
        @include mobile {
          grid-row-gap: 16px;
        }
      }
      &__item1 {
        & div {
          display: flex;
        }
        & svg {
          margin-right: 16px;
          margin-top: 3px;
          @include mobile {
            margin-right: 10px;
            width: 15px;
            height: 10px;
          }
        }
        & h3 {
          margin: 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $text;
          @include tablet {
            font-size: 14px;
            line-height: 17px;
            text-align: justify;
          }
        }
        & p {
          margin-top: 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $text;
          @include tablet {
            margin-top: 19px;
            font-size: 14px;
          }
          @include mobile {
            margin-top: 10px;
          }
        }
      }
      &__list2 {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        @include tablet {
          margin-top: 30px;
        }
        @include mobile {
          margin-top: 25px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
        }
      }
      &__item2 {
        padding: 0 70px;
        &:not(:last-child) {
          border-right: 1px solid #000000;
        }
        display: flex;
        justify-content: center;
        @include tablet {
          padding: 0 30px;
        }
        @include mobile {
          &:not(:last-child) {
            border-right: none;
          }
          padding: 0;
        }
        & h3 {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          color: #ed6b40;
          @include mobile {
            font-size: 20px;
            line-height: 24px;
          }
        }
        & p {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: $text;
          margin-top: 14px;
          @include mobile {
            margin-top: 10px;
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
  }
  &__certificate {
    margin-top: 60px;
    @include tablet {
      margin-top: 50px;
    }
    @include mobile {
      margin-top: 32px;
    }
    & img {
      &:hover {
        cursor: zoom-in;
      }
    }
    & div {
      display: flex;
      width: 100%;
      margin-top: 42px;
      & img:not(:last-child) {
        margin-right: 20px;
      }
      @include tablet {
        margin-top: 30px;
        & img {
          max-width: 229px;
          height: auto;
        }
      }
      @include mobile {
        margin-top: 20px;
      }
      @media (max-width: 550px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        & img {
          width: 100%;
          &:not(:last-child) {
            margin-right: 0px;
          }
        }
      }
    }
  }
  &__presentation {
    margin-top: 60px;
    @include tablet {
      margin-top: 50px;
    }
    @include mobile {
      margin-top: 32px;
    }
    & div {
      margin-top: 30px;
      display: flex;
      align-items: flex-end;
      @include mobile {
        margin-top: 20px;
      }
      & img {
        margin-right: 30px;
        @include mobile {
          width: 139px;
          height: auto;
          margin-top: 10px;
        }
      }
      & a {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
      }
    }
  }
  &__production {
    position: relative;
    overflow: visible;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    @include tablet {
      margin-top: 50px;
    }
    @include mobile {
      margin-top: 32px;
    }
    & h2 {
      margin-bottom: 30px;
      @include tablet {
        margin-bottom: 0;
      }
    }
    & p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text;
      @include tablet {
        & br {
          display: none;
        }
        font-size: 14px;
        line-height: 20px;
      }
    }
    & .production__img {
      &_one {
        margin: 30px auto;
        & img {
          width: 100%;
          height: auto;
        }
        @include tablet {
          width: 92%;
          margin: 30px auto 20px;
        }
        @include mobile {
          width: 100%;
          margin: 30px auto 16px;
        }
      }
      &_two {
        width: 100%;
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        & img {
          width: 100%;
          height: auto;
        }
        @include mobile {
          margin: 30px auto 16px;
          grid-column-gap: 10px;
        }
      }
    }
  }
}
