.block3 {
  margin-top: 125px;
  @include tablet {
    margin-top: 40px;
  }
  @include mobile {
    margin-top: 46px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h2 {
      position: relative;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #000000;
      padding-left: 98px;
      &::before {
        content: "";
        width: 82px;
        height: 3px;
        background: #ed6b40;
        position: absolute;
        top: 50%;
        left: 0;
      }
    }
    & a {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      text-decoration-line: underline;
      color: #ed6b40;
      &:hover {
        color: #fc7a4f;
      }
    }
  }
  &__main {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    @include tablet {
      margin-top: 20px;
      grid-column-gap: 20px;
    }
    @include mobile {
      margin-top: 36px;
      display: flex;
      flex-direction: column;
    }
    &_photo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & .photo {
        width: 71%;
        & img {
          width: 100%;
          height: auto;
        }
        &_top {
          position: relative;
          align-self: flex-end;
          z-index: 5;
          margin-bottom: -38%;
          &_logo {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 25%;
            height: 25%;
            background-color: white;
            padding: 8px;
            display: flex;
            align-items: center;
            & img {
              width: 100%;
            }
          }
        }
        &_down {
        }
      }
      & a {
        display: none;
        @include tablet {
          margin-top: 40px;
          display: inline-block;
          font-weight: 500;
          font-size: 12px;
          line-height: 24px;
          & svg {
            vertical-align: sub;
            margin-right: 5px;
          }
        }
        @include mobile {
          display: none;
        }
      }
    }
    & .block__info {
      @include mobile {
        margin-top: 20px;
      }
      & p {
        margin-bottom: 16px;
        @include tablet {
          &:nth-child(2) {
            display: none;
          }
        }
      }
      & h3 {
        margin-top: 24px;
        @include tablet {
          margin-top: 20px;
          font-weight: 700;
          text-transform: lowercase;
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
      & ul {
        margin-top: 24px;
        @include tablet {
          margin-top: 18px;
        }
        @include mobile {
          margin-top: 16px;
        }
      }
      & li {
        margin-top: 16px;
        &:last-child {
          margin-top: 18px;
        }
        position: relative;
        padding-left: 21px + 16px;
        &::before {
          content: url(./../img/svg/list-style.svg);
          position: absolute;
          top: 2px;
          left: 0;
        }
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        @include tablet {
          margin-top: 8px;
          font-size: 14px;
          padding-left: 21px + 8px;
          &:last-child {
            display: none;
          }
        }
        @include mobile {
          padding-left: 15px + 6px;
          &::before {
            content: url(./../img/svg/list-style-mini.svg);
            top: 0;
          }
          &:last-child {
            padding-left: 0;
            display: inline;
            margin-top: 24px;
            &::before {
              content: "";
            }
          }
        }
      }
      & a {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        & svg {
          vertical-align: sub;
          margin-right: 5px;
        }
        @include mobile {
          margin-top: 24px;
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
  }
}
