.ordering {
  & h1 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @include tablet {
      font-size: 26px;
      line-height: 32px;
    }
    @include mobile {
      font-size: 16px;
      line-height: 20px;
    }
  }
  & h2 {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $grey2;
    @include tablet {
      display: none;
    }
  }
  &.form {
    margin-top: 40px;
    @include tablet {
      margin-top: 34px;
    }
    & .requared-form {
      display: none;
      align-items: center;
      margin-top: 11px;
      font-weight: 500;
      font-size: 10px;
      line-height: 23px;
      color: #ff2e2e;
      & svg {
        margin-right: 6px;
      }
    }
    @include mobile {
      margin-top: 27px;
      &.error .requared-form {
        display: flex;
      }
    }
    & .inputs {
      width: 286px;
      @include tablet {
        width: 229px;
      }
      @include mobile {
        width: 176px;
      }

      & .input-wrapper {
        &:not(:last-child) {
          margin-bottom: 20px;
          @include tablet {
            margin-bottom: 16px;
          }
          @include mobile {
            margin-bottom: 12px;
          }
        }
        &.error {
          @include mobile {
            &::after {
              content: url(./../../img/svg/requared.svg);
              width: 16px;
              height: 16px;
              position: absolute;
              display: block;
              transform: translateY(-50%);
              top: 50%;
              right: 10px;
            }
          }
        }
        & input {
          position: relative;
          padding-right: 26px;
          &.error:not(:focus) {
            @include mobile {
              border: 1px solid #9a9a9a;
              &::after {
                content: url(./../../img/svg/requared.svg);
                width: 16px;
                height: 16px;
                position: absolute;
                display: block;
                transform: translateY(-50%);
                top: 50%;
                right: 10px;
              }
            }
          }
        }
      }
    }
    & span.error {
      position: absolute;
      width: max-content;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #ff2e2e;
      transform: translateY(-50%);
      top: 50%;
      left: calc(100% + 20px);
      @include mobile {
        display: none;
      }
    }
    & h6 {
      margin-top: 6px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      @include tablet {
        display: none;
      }
    }
    & .checkbox {
      margin-top: 20px;
      @include tablet {
        margin-top: 16px;
        & p {
          font-size: 12px;
          line-height: 15px;
        }
      }
      @include mobile {
        & p {
          font-size: 8px;
          line-height: 10px;
        }
      }
    }
    & .button_orange {
      margin-top: 60px;
      min-width: 286px;
      width: auto;
      @include tablet {
        min-width: 0;
        margin-top: 40px;
        padding: 14px 50px;
      }
      @include mobile {
        font-size: 12px;
        padding: 6px 35px;
      }
    }
  }
}
