.schoole-group {
  &__info {
    margin-top: 50px;
    display: flex;
    @include tablet {
      display: block;
      margin-top: 31px;
    }
    @include mobile {
      display: block;
      margin-top: 21px;
    }
    & img {
      width: 57.8%;
      height: auto;
      margin-right: 30px;
      float: left;
      @include tablet {
        width: 45%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      @include mobile {
        margin-top: 21px;
        float: none;
        margin-right: 0px;
        width: 100%;
      }
    }
    & h1 {
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      @include tablet {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 24px;
      }
      @include mobile {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 17px;
      }
    }
    & p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $text;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      @include tablet {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
      @include mobile {
        font-size: 14px;
      }
    }
  }
  &__list {
    margin-top: 60px;
    @include tablet {
      margin-top: 53px;
      border-top: 1px solid #000000;
    }
    @include mobile {
      margin-top: 44px;
    }
  }
  &__item {
    & .wrapper {
      display: flex;
      justify-content: space-between;
      @include tablet {
        justify-content: flex-start;
      }
    }
    & .button_orange {
      display: none;
      @include tablet {
        margin-top: 20px;
        display: flex;
      }
      @include mobile {
        display: none;
      }

      &:last-child {
        display: none;
        @include tablet {
          display: none;
        }
        @include mobile {
          margin-top: 10px;
          display: block;
        }
      }
    }
    &_description {
      & h2 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        @include tablet {
          font-size: 14px;
          line-height: 17px;
        }
        @include mobile {
          font-size: 10px;
          line-height: 12px;
        }
        & p {
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: $grey1;
          @include tablet {
            font-size: 10px;
            line-height: 12px;
          }
          @include mobile {
            font-size: 8px;
            line-height: 10px;
          }
        }
      }
      & .description_main {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 120px;
        @include tablet {
          margin-top: 20px;
          grid-column-gap: 60px;
          grid-row-gap: 10px;
        }
        @include mobile {
          margin-top: 16px;
          grid-column-gap: 20px;
        }
        & .name {
          & h3:first-child {
            @include tablet {
              display: none;
            }
            @include mobile {
              display: block;
            }
          }
          & h3:last-child {
            display: none;
            @include tablet {
              display: block;
            }
            @include mobile {
              display: none;
            }
          }
        }
        & h3 {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: $grey2;
          @include tablet {
            font-size: 12px;
            line-height: 15px;
          }
          @include mobile {
            font-size: 10px;
            line-height: 12px;
          }
        }
        & p {
          margin-top: 12px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          & span {
            font-size: 12px;
            line-height: 15px;
            color: $grey1;
          }
          @include tablet {
            margin-top: 10px;
            font-size: 10px;
            line-height: 14px;
            & span {
              font-size: 10px;
              line-height: 14px;
            }
          }
          @include mobile {
            margin-top: 4px;
            font-size: 8px;
            line-height: 10px;
            & span {
              font-size: 8px;
              line-height: 10px;
            }
          }
        }
      }
    }
    &_manage {
      margin-left: 45px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include tablet {
        display: none;
        margin-left: 20px;
      }
      @include mobile {
        margin-left: 0;
        margin-top: 10px;
        align-items: flex-start;
        & .counter p:first-child {
          display: none;
        }
      }
      & .button_orange_desktop {
        display: flex;
      }
    }
  }
  & .whatsup {
    margin-top: 60px;
    @include tablet {
      margin-top: 40px;
    }
    @include mobile {
      margin-top: 30px;
    }
  }
}
